.venv
.winvenv
**.spec
build/
dist/
*.egg-info
.idea/
__pycache__/

manifest.sh

output
runs

ai_detection_cxx/yolo/weights/*.engine
ai_detection_cxx/yolo/weights/*.onnx
ai_detection_cxx/botsort/weights/*.engine
external/eigen_339/
